.greeting{
    color: rgb(44, 44, 43);
    text-align: center;
    margin-top: 60px;
  
    
}



@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
  }
  
 
 .carro {
    border-radius: 300px;
    width: 100px;
    height: 100px;
    position: relative;
     animation-name: example;
    animation-duration: 10s;
  }